<!DOCTYPE html>
<html ng-app="App">
<head>
<title>JMX GUI</title>
<script src="js/angular.js"></script>
<script src="js/jmx-gui.js"></script>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
	rel="stylesheet">
<body ng-controller="JMXController">
	<h2>JMX GUI</h2>
	Choose a server:
	<input ng-model="serverUrl" />
	<button ng-click="list(serverUrl)">LIST</button>

	<p>
		Search MBean: <input ng-model="searchMBeanText">
	</p>


	<table border="1" class="table">
		<tr ng-repeat="mBean in mbeans | filter:searchMBeanText">
			<td>
				<table border="1" width="100%" height="100%" class="table">
					<tr>
						<td colspan=2><b>{{mBean.name}}</b> {{mBean.desc}}</td>
					</tr>
					<tr>
						<td colspan=2>

							<table border="1" width="100%" height="100%" class="table">
								<tr>
									<th colspan=2
										ng-click="calculateAllAttributesMBean(serverUrl,mBean)">ATTRIBUTES
										<a href="#" class="btn btn-success btn-large"><i
											class="icon-white icon-refresh"></i> Refresh</a>
									</th>
								</tr>
								<tr ng-repeat="(key, val) in mBean.attr">
									<td
										ng-click="readAttributeMbean(serverUrl,$parent.mBean, key, displayResult)">{{key}}</td>
									<td>{{val.currentValue}}</td>
								</tr>

								
							</table>
						</td>
					</tr>
					<tr>
						<td colspan=2>
							<table border="1" width="100%" height="100%" class="table">
			
								<tr>
									<th colspan=2>OPERATIONS</th>
								</tr>

								<tr ng-repeat="(key, val) in mBean.op">
									<td
										ng-click="executeOpMbean(serverUrl,$parent.mBean, key, displayResult)">{{key}}
									</td>
									<td>{{val}}</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
